body{
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form{
    text-align: center;
    vertical-align: center;
    width: 70%;
    margin: auto;
}

.logoContainer{
    margin-top: 10px;
}


img{
    width: 150px;
    height: 30px;
}

.inputContainer{
    flex: 100%;
    width: 70%;
    margin: auto;
    height: 34px;
    border: 1px solid rgb(218, 214, 214);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: white;
}


.inputContainer:hover{
    box-shadow: 1px 1px 10px #e6e3e3;
    border: 1px solid rgb(236, 236, 236);
}

.inputContainer > img{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

input{
    width: 90%;
    height: 34px;
    border: none;
    margin-right: 5px;
    outline: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    font-size: 16px;
    background-color: transparent;
}

.btn{
    justify-self: center;
    justify-content: space-between;
    margin-top: 30px;
    display: block;
    text-align: center;
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover{
    box-shadow: 1px 1px 10px #e6e3e3;
    border: 1px solid rgb(236, 236, 236);
}

.lang{
    color: #3c4043;
    display: inline-block;
    line-height: 28px;
}

.lang > a {
    font-size: small;
    color: #1a0dab;
    padding: 0 5px;
    text-decoration: none;
}
